a.nav-link span {
  border-bottom: dashed 1px;
  color: black;
  font-size: 0.8rem;
}

a.nav-link span:hover {
  border-bottom: none;
}

body {
  background: #43c6ac;
  background: -webkit-linear-gradient(to right, #f8ffae, #43c6ac);
  background: linear-gradient(to right, #f8ffae, #43c6ac);
}

button {
  display: block;
  font-size: 0.8rem;
  width: 7.5rem;
}

body,
button {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  text-align: center;
}

h1 {
  font-family: "Satisfy", cursive;
  font-size: 3.125rem;
}

h2 {
  font-size: 1.875rem;
  text-align: right;
}

h3 {
  font-size: 1.875rem;
}

ul.nav {
  margin-bottom: 1rem;
}

.margen-abajo {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2,
  h3 {
    font-size: 1rem;
  }
}
